<footer class="text-center text-white">
 <div class="container-fluid flex-grow-1 flex-shrink-0">
    <div class="px-lg-5">
      <div class="row py-5 pt-2 pb-2">
        <div class="col-lg-12 text-white text-center">
          <h2 class="display-4">Snowtricks</h2>
          <h4><u>Projet 6 Formation développeur Application PHP Symfony<u></h4>
          <img src="{{ asset('image/test.jpeg')}}" class="rounded-circle">Pascale CHRISTOPHE</a>
          
        </div>
      </div>
    </div>
  </div>
  </footer>