<footer class="text-center text-white">
	<div class="container-fluid flex-grow-1 flex-shrink-0">
		<div class="px-lg-5">

			<div class="row">
				<div class="col-lg-6 mt-3 text-white">
					<h4>Snowtricks</h4>
					<a href="https://fr.wikipedia.org/wiki/Trick">lien vers wikipedia</a><br>
					<a href="{{ path('accueil')}}">Accueil</a><br>
          <a href="{{ path('app_register')}}">Inscription</a>
				</div>
				<div class="col-lg-6 mt-5">
					<p>Projet 6 Formation développeur Application PHP Symfony</p><br>
					<img src="{{ asset('build/images/test.jpeg')}}" class="rounded-circle mb-2">Pascaline CTE</a><br>
			</div>
		</div>
	</div>

</footer>
