<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
  <div class="text-align-left">
    <a class="navbar-brand js-scroll-trigger" href=""><img src="{{ asset('build/images/logo3.jpg')}}" data-toggle="tooltip" data-content=" testons" alt="titre snowtrick"></a>
    <a href="#" class="btn btn-info" data-toggle="popover" data-placement ="bottom" data-content="C'est tout simple à faire !" title="Projet 6 OpenClassrooms - Développez de A à Z le site communautaire SnowTricks">SnowTricks</a>
    </div>
    <div class="text-align-left">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
 
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav">
        
          <a class="nav-link" href="{{ path('accueil')}}"><i class="fa fa-home" aria-hidden="true"></i>     Accueil -Tricks Liste  </a>
        </li> 
        
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_login')}}"><i class="fa fa-key"aria-hidden="true"></i>     Connexion</a>
        </li>
       <li class="nav-item">
          <a class="nav-link" href="{{ path('app_register')}}"><i class="fa fa-user-plus" aria-hidden="true"></i>     Inscription</a>
        </li>
        <div class="text-align-right">
        </div>
      </ul>
    </div>
  </div>
</nav>
