
<main class="container mt-3">

<h3 class="text-center">  mot de passe  oublié </h3>


<h3>Reinitialiser</h3>

<p>Pour réinitialiser votre mot de passe merci de cliquer sur le lien</p>

<div class="row mt-5">
    <div class="col-md-6">
    <a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>
    </div>


<p>Le lien expire dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>


<p> si vous n'avez pas demandé de changer votre mot de passe,  Merci de ne pas en tenir compte! </p>
<p>Merci</p>
