{% extends 'base.html.twig' %}

{% block title %}Edit Category
{% endblock %}

{% block body %}
<div class="text-center mt-10px">
    <h1>Edit Category</h1>
</div
    {{ include('category/_form.html.twig', {'button_label': 'Save'}) }}

    <a href="{{ path('category_index') }}">back to list</a>

    {{ include('category/_delete_form.html.twig') }}
{% endblock %}
