{% extends 'base.html.twig' %}

{% block title %}Edit Category
{% endblock %}

{% block body %}
	<div class="text-center pt-10px">
		<h1>Modifier - Catégories</h1>
	</div>
	{{include('category/_form.html.twig')}}
		<div class="d-flex justify-content-center">
		{{ include('category/_delete_form.html.twig') }}
	
			<a href="{{ path('category_index') }}" class="btn btn-secondary mx-5 my-2"><i class="fas fa-list"></i> back to list
			</a>
		</div>
	
{% endblock %}
