{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
<div class="d-flex justify-content-center">
    <h1>Créer une nouvelle catégorie?</h1>
</div>
    {{ include('category/_form.html.twig') }}

    <a href="{{ path('category_index') }}"class="btn btn-dark">back to list</a>
{% endblock %}
