@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/bootstrap-utilities";
@import "~bootstrap/scss/bootstrap-reboot";
@import "~bootstrap/scss/bootstrap-grid";

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/regular";


body {
    background-color: rgb(240, 242, 248);
    margin:0;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}


.navbar{
    padding-right: 50px;
    padding-left: 50px;
    background-color: rgb(52, 52, 75);; 
  
}

.navbar-img{
    width: 60px; 
    height: 30px;
}

footer {
    background-color: rgb(52, 52, 75);
    font-size: #1b17ec;
    max-height: 40vh;
  }

.form-control::placeholder {
    font-size: 0.95rem;
    color: #1b17ec;
    font-style: italic;
  }

.form-control.shadow-0:focus {
     box-shadow: none;
  }

.form-check {
    text-align: left;
}

input {
    width: 700px;
    background-color: rgb(145, 177, 174);
}


#register-buttom input {
    width: 200px;  
}
#register {
    background-color: rgb(228, 235, 241);
}

#connect{
    background-color: rgb(126, 144, 160); ;
    margin-top: 35px;
}

.logout {
    margin:auto;
    padding-left: 10px;
   
  
}
label{
    display:block;
    float:left;
}

.form_control {
    display: inherit!important;
}

.rounded-circle {
    height: 40px;
    margin-right: 10px;
}
#img-show {
    width: 900px;
    height: 500px;
}

#photo_comment {
    background-color: rgb(146, 151, 151);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
 background-color: white;
}

a.btn.btn {
    color: white;
    background-color:rgba(104, 88, 54, 0.6)
}
#footer, u{
    text-decoration: none;
    font-size: 1.2rem;
}



#trick-show {
    background-color: rgb(248, 236, 211);
}


#edit-trick textarea {
    height: 200px;
    background-color:  white;
}

#edit-category textarea {
    width: 300px;
    height: 100px;
    background-color:  white;
}

#edit-trick input, select input #file {
    background-color: white
}  
#edit-trick input {
    padding-top: 10px;
    margin-top: 10px;
}

#edit-category input {
    padding-top: 10px;
    margin-top: 10px;
}

#edit-trick {
    background-color: rgb(165, 177, 197);
    padding-bottom: 20px;
} 

#edit-category {
    background-color: rgb(250, 252, 255);
    
}

table th  {
    width: auto;
}

.btn-dark {
    width:auto;
}




