{%- block _trick_pictures_row -%}
    <div class="mb-6">
        <label class="h5">Images</label>
        {{ form_widget(form) }}
    </div>
{%- endblock _trick_pictures_row -%}

{%- block _trick_pictures_entry_widget -%}
    {{ form_widget(form) }}
{%- endblock _trick_pictures_entry_widget -%}