<form method="post" action="{{ path('trick_delete', {'id': trick.id}) }}" onsubmit="return confirm('Etes-vous sure de vouloir supprimer ce Trick ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trick.id) }}">

    <div class="row">
        <div class="col-sm-4">
            <button class="border">
                <i class="far fa-trash-alt fontawesome trash-detail"></i>
            </button>
        </div>
    </div>
</form>