{% form_theme form.pictures with [
    'form/collection.html.twig',
    'trick/_collection_picture.html.twig'
] %}
{% form_theme form.videos with [
    'form/collection.html.twig',
    'trick/_collection_video.html.twig'
] %}

<div class="container h-100">
	<div class="row align-items-center">
		<div class="col-12" id="edit-trick">
			{{ form_start(form) }}
			{{ form_widget(form) }} 
			<button class="btn btn-dark">{{ button_label|default('Save') }}</button>
			{{ form_end(form) }}
		</div>
	</div>
</div>
