{% extends 'base.html.twig' %}

{% block title %}Edit Trick
{% endblock %}

{% block body %}
	<div class="text-center " style="padding-bottom:10px">
		<h1>Modifier un trick</h1>

		{{ include('trick/_form.html.twig', {'button_label': 'Save'}) }}
		<div class="row">
			{{ include('trick/_delete_form.html.twig')  }}

		</div>
	</div>
{% endblock %}
