{% extends 'base.html.twig' %}

{% block title %}Nouveau Trick
{% endblock %}

{% block body %}
	<h1>Nouveau Trick</h1>
		{% if is_granted('ROLE_USER') %}
	{{ include('trick/_form.html.twig') }}
		{% endif %}
	<div class="col-12 text-center my-5 py-3">
		<a href="{{ path('accueil') }}" class="btn btn-secondary" style="width:150px">
			Accueil</a>
	</div>
{% endblock %}
