{% extends 'base.html.twig' %}

{% block title %}New Trick{% endblock %}

{% block body %}
    <h1>Create new Trick</h1>

    {{ include('trick/_form.html.twig') }}
<div class="col-12 text-center my-5 py-3">
    <a href="{{ path('accueil') }}" class="btn btn-secondary"style="width:150px"> Accueil</a>
</div>
{% endblock %}
